body{
    margin: 0;
}
a{
    text-decoration: none;
}
.main-container{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
.sidebar-left{
    grid-column: 1/2;
    grid-row: 1/3;
}
.header{
    grid-column: 2/4;
}
.main-content{
    grid-column: 2/3;
}
.sidebar-right{
    grid-column: 3/4;
}
/*
    SIDEBAR LEFT
 */
.sidebar-left{
    padding: 0 30px;
}
.logo{
    display: flex;
    align-items: center;
}
.menu,.extra-menu{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.menu img,.extra-menu img{
    width:25px;
}
.menu > div,.extra-menu > div{
    display: flex;
    align-items: center;
    height: 30px;
    gap: 5px;
}
/*
    HEADER
 */
.header{
    display: flex;
    flex-direction: column;
    padding: 0 30px;
}
.upper,.lower,.search-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.profile-container{
    display: flex;
    align-items: center;
}
.lower img{
    width: 50px;
    height: 50px;
}
.upper input{
    padding-left: 10px;
    margin-left: 10px;
    height: 20px;
    width:300px;
    border: none;
    background-color: red;
    border-radius: 10px;
}
.upper .profile-container > *{
    margin-right: 10px;
}
.greeting > *{
    padding-left: 10px;
    margin:0;
}
.lower button{
    width: 80px;
    height: 25px;
    border: none;
    margin-right: 10px;
    border-radius: 10px;
    background-color: aqua;
}
/* 
    CARD
*/
.card{
    border: 1px solid black;
    width:300px;
    border-radius: 10px;
    box-shadow: -5px 5px 10px rgba(0,0,0,0.2);
}
/* 
    MAIN CONTENT
*/
.main-content{
    padding: 15px;
}
.cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 20px;
    justify-items: center;
}